<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
	<nav class="navbar">
		<form method="POST" action="https://searx.xyz/" role="search">
			<input class="searchbar" name="q" placeholder="Yes...?">
		</form>
	</nav>
	<article class="boxes_container">
		<div id="box_github">
			<a href="https://github.com/">
			<img
	   		class="icon"
	   		id="icon_github"
			src="/photos/Octocat.png"
			alt="Github"/>
			</a>
		</div>
		<div id="box_yt">
			<a href="https://www.invidio.us/">
			<img
	   		class="icon"
	   		id="icon_yt"
      			src="/photos/YouTube.svg"
			alt="Invidous"/>
			</a>
		</div>
		<div id="box_reddit">
			<a href="https://reddit.com">
			<img
	   		class="icon"
      			id="icon_reddit"
	 		src="/photos/Reddit.svg"
			alt="Reddit"/>
			</a>
		</div>
		<div id="box_mdn">
			<a href="https://developer.mozilla.org/en-US/">
			<img
	   		class="icon"
      			id="icon_mdn"
	 		src="/photos/MDN.svg"
    			alt="MDN"
			/>
			</a>
		</div>
		<div>clock</div>
		<div id="box_yts">
			<a href="https://yts.mx">
			<img
	   		class="icon"
      			id="icon_yts"
	 		src="/photos/YTS.svg"
			alt="YTS.MX"/>
			</a>
		</div>
		<div id="box_kiss">
			<a href="https://k1ss.org">
			<img
	   		class="icon"
      			id="icon_kiss"
      			src="/photos/Kiss.svg"
			alt="K1SS"/>
			</a>
		</div>
		<div id="box_react">
			<a href="https://reactjs.org/">
			<img
	   		class="icon"
      			id="icon_react"
	 		src="/photos/React.svg"
			alt="React Docs"/>
			</a>
		</div>
		<div id="box_koa">
			<a href="https://koajs.com/">
			<img
	   		class="icon"
      			id="icon_koa"
	 		src="/photos/Koa.svg"
    			alt=Koa.js""
			/>
			</a>
		</div>
	</article>
	<footer class="info">
		<div class="appreciation">
			Made with
			<span id="blood">blood</span>&#44;
			<span id="sweat">sweat</span>
			and a lot of
			<span id="tears">tears.</span>
		</div>
	</footer>
</body>
</html>
